<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646570310830-10juagg6lfilu34r5bt2ngktvrp1cdls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646570310830-10juagg6lfilu34r5bt2ngktvrp1cdls</string>
	<key>API_KEY</key>
	<string>AIzaSyArx-yZInrgOxJnBLbVGyIUQI_2h4ksp9U</string>
	<key>GCM_SENDER_ID</key>
	<string>646570310830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushnotification.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>push-notification-fd007</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-fd007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646570310830:ios:d95acaa8238446cf88813f</string>
</dict>
</plist>